html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

html a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

nav {
  position: relative;

  height: 4em;
}

.section-top {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url('../images/mainpg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  justify-content: center;
  margin-bottom: 10em;


}

.section-top .bg {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background: rgb(233, 7, 7);
  background: rgb(139, 3, 31);
  background: linear-gradient(90deg, rgba(139, 3, 31, 0.9612219887955182) 12%, rgba(8, 1, 119, 0.7343312324929971) 42%, rgba(8, 1, 119, 0.6278886554621849) 67%, rgba(134, 1, 28, 0.9304096638655462) 85%);
  background-image: linear-gradient();
}

.nav-list {
  float: right;
  list-style-type: none;

  position: absolute;
  right: 12rem;
  transform: translateY(-200%);
  transition: all 0.5s;
  margin-top: 3em;
  padding: 2.5em;
  background-color: rgba(0, 0, 0, .8);
  border: solid #520202 2px;
  z-index: 1;


}

.nav-list li a {
  text-decoration: none;
  margin: 0px;
  padding: 0 0em;
  letter-spacing: 5px;
  color: white;
  transition: .3s;

}

.nav-list li a:hover {
  font-size: 1.3rem;
  font-weight: 3%;

}

.nav-list li {
  width: 100%;
  padding: 5px 1px;
  border-bottom: 1px solid white;
  margin-bottom: .5em;
  font-size: 1.1rem;
}


.nav-list li:first-child {
  border-top: 1px solid white;
}

nav .hamburger {
  float: right;
  position: absolute;
  right: 10%;
  top: 3em;
  color: white;
  border: solid 1px white;
  padding: 5px 7px;
  font-size: 2em;


}

nav .close {
  float: right;
  border: solid 1px black;
  padding: 5px 7px;
  position: absolute;
  right: 10%;
  top: 3em;
  color: white;
  border: solid 1px white;

  transform: translateY(-200px);
  font-size: 2em;

}

nav .logo {
  float: left;
  position: absolute;
  top: 1.2em;
  left: 3em;
  font-size: 3em;
  color: aliceblue;
  font-stretch: expanded;
}


body .section-top .bg #heading {
  align-content: center;
  position: relative;
  top: 12em;
  color: white;
  letter-spacing: 2px;
  font-size: 1.2em;
}

header #heading {
  z-index: 1;

}

/*-------------------------------------section 1-------------------------------------------------------------*/
section {
  margin: 1em 0;
}

main .section1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 1em 0;
  height: 100%;
  bottom: 10em;
  top: 1px;



}

main .section1 div {
  height: 90%;
  width: 40%;

}

main .section1 .mypic img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100%;
  width: 100%;
}

main .section1 .aboutme p {
  line-height: 1.5em;
  letter-spacing: 1px;
}

main .section1 button {
  padding: 1em 4em;
  color: white;
  border: 1px white solid;
  background-color: red;
  transition: .5s;
}

main .section1 button:hover {
  transform: scale3d(.9, .9, .2);

}

/*-------------------------------------section 1 end-------------------------------------------------------------*/




/*-------------------------------------section 2 start -------------------------------------------------------------*/

section:nth-child(3) {
  padding: 5em 0;

  background-color: #f2f2f2;

}

section .section2 {
  display: flex;
  flex-direction: row;
  flex-basis: 50px;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  top: 1rem;
  text-align: center;

}


main .section2 div {
  margin: 5px;
  border: lightgrey 2px ridge;
  height: 15rem;
  width: 15rem;
  display: flex;

  align-items: center;
  text-align: center;
  justify-content: center;


}

main .section2 div:nth-child(1) {
  background-color: #10C5FC;
}

main .section2 div:nth-child(2) {
  background-color: #845aec;
}

main .section2 div:nth-child(3) {
  background-color: #002454;
}

main .section2 div:nth-child(4) {
  background-color: #ff2b4b;
}

section .hs2 {
  line-height: 2em;
}

section .hs2 h4 {
  color: grey;
}



section div.section2 div ul {

  text-decoration: none;
  letter-spacing: 5px;
  color: white;
  padding: 1em 0;
  list-style-type: none;

}

section div.section2 div ul li {
  padding: 1.5rem;
  transition: .9s;

}

section div.section2 div:hover {
  ul li:nth-child(1) {
    transform: rotate3d(.3, .3, .3, 360deg);


  }


}



/*-------------------------------------section 2 end-------------------------------------------------------------*/




/*-------------------------------------section 3 start-------------------------------------------------------------*/


main .section3 {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  background-image: url('../images/mainpg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  justify-content: center;
  margin-bottom: 10em;

}

main .section3 .bg2 {

  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background: rgb(233, 7, 7);
  background: rgb(139, 3, 31);
  background: linear-gradient(90deg, rgba(139, 3, 31, 0.9612219887955182) 12%, rgba(8, 1, 119, 0.7343312324929971) 42%, rgba(8, 1, 119, 0.6278886554621849) 67%, rgba(134, 1, 28, 0.9304096638655462) 85%);
  background-image: linear-gradient();

  padding: 0em 10em;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  text-align: left;
  color: white;
}


main section.section3 div.bg2 div {
  margin: .9em;
  padding: .2em;

}

main section.section3 div.bg2 div.cl1 {
  border: .5px black ridge;
  background: rgba(255, 255, 255, .1);
  padding: 2em 1em;


}

main section.section3 div.bg2 div.cl2 {
  border: .5px black ridge;
  background: rgba(255, 255, 255, .1);
  padding: 2em 1em;

}

/*-------------------------------------section 3 end-------------------------------------------------------------*/








/*-------------------------------------section 4-------------------------------------------------------------*/



.section4 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  /* Align items horizontally at the center */

  margin: 0rem 10rem;

  margin-bottom: 5rem;


  position: relative;
  bottom: 50%;

}

.image {
  margin: 3px;
  background-size: cover;
  background-position: center;

  height: 13rem;
  width: 15rem;


}

/* Set background images for each image div */
.image:nth-child(n) {
  background-image: url('../images/mainpg.jpg');
}

.image:nth-child(5) {
  background-image: url('../images/bgcn.png');
  flex-grow: 1;

}

.image:nth-child(7) {
  background-image: url('../images/sec3.jpg');

}

/* Repeat for the rest of the images */
/* Add media queries for responsiveness */



/*-------------------------------------section 5-------------------------------------------------------------*/
section {
  margin: 2em 0;
}

main .section5 {
  display: flex;
  position: relative;
  flex-direction: row;

  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 1em 0;
  height: 100%;
  bottom: 10em;
  margin-bottom: 5em;
  top: 1px;
  background-color: #d9d9d9;



}

main .section5 div {
  height: 90%;
  width: 40%;

}

main .section5 .mypic img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(8px 8px 10px grey);

  height: 100%;
  width: 100%;
}

main .section5 .aboutme p {
  line-height: 1.5em;
  letter-spacing: 1px;
}

/*-------------------------------------section 6 start-------------------------------------------------------------*/

.section6 {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-image: url('../images/bgcn.png');
  background-position: center;
  background-size: cover;
  text-align: left;
  justify-content: center;
  align-items: center;
  color: white;

}

.section6 div {
  padding: .5em;
  padding: 0 2em;
}

.section6 form div.cl1 {
  background-color: rgba(0, 0, 0, .3);
  padding: 5em 3.5em;

}

.section6 form .cl1 input {
  margin: 1em 1em;
  height: 30px;
  width: 90%;

}

.section6 form .cl1 textarea {
  margin: 1em;
  width: 90%;
}

.section6 form .cl1 input.button {
  background-color: red;

}

section.section6 div.cl2 div {
  line-height: 1.9em;
}

.section6 div.cl2 div {
  margin: 1.7em 0;
  background-color: rgba(0, 0, 0, .3);
  padding: 1em;

}


footer {
  padding: 1em;
  line-height: 2em;
  background-color: darkgrey;
  font-weight: bold;
  font-size: 1.2em;
}